h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Helvetica, sans-serif;
	color: #414141;
}

* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
	margin: 10px;
	padding: 10px;

	padding-left: 0px;
	margin-left: 25px;

	font-size: 2.25em;
	font-weight: bold;
}

body {
	margin: 0px;
	font-family: Helvetica;
	color: #414141;
}

.page-wrapper {
	padding: 25px;
}

.nav-bar-container {
	background-color: #073b4c;
	display: flex;
	justify-content: space-between;
	border-width: 0px;
	margin: 0px;
	padding: 25px;
	padding-left: 0px;
}

.nav-bar-buttons-contains {
	display: flex;
}

.nav-bar-button > * {
	text-decoration: none;
}

.nav-bar-button {
	padding: 0px;
	margin-left: 25px;
	margin-right: 25px;
	font-size: 20px;
	font-weight: 900;
}

.nav-bar-button > a {
	color: white;
}

.nav-bar-button > a:hover {
	color: grey;
}

.table-of-content {
	display: flex;
	flex-direction: column;
}

.main-wrapper {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: "main toc";
	padding: 25px;
}

main {
	grid-area: main;
}

.toc-container {
	grid-area: toc;
}

.blog-post-section {
	margin-top: 50px;
	margin-bottom: 50px;
}
